<div class="admin-layout">
  <!-- Floating Menu Button -->
  <button
    mat-fab
    (click)="toggleMenu()"
    aria-label="Toggle menu"
    class="floating-menu-button"
    [class.menu-opened]="menuOpened"
  >
    <mat-icon>{{ menuOpened ? "close" : "menu" }}</mat-icon>
  </button>

  <!-- Sidenav Container -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [(opened)]="menuOpened"
      class="admin-sidenav"
    >
      <app-admin-sidenav></app-admin-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="admin-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
