@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        tertiary: mat.$rose-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html.dark-mode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        tertiary: mat.$rose-palette,
        theme-type: dark,
      ),
    )
  );
}
