<div class="category-menu">
  <div *ngIf="loading$ | async" class="loader-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div *ngIf="error$ | async as error" class="error-message">
    <p>{{ error }}</p>
  </div>

  <mat-nav-list *ngIf="categories$ | async as categories">
    <a
      mat-list-item
      *ngFor="let category of categories"
      (click)="selectCategory(category)"
      [ngClass]="{
        'active-category': (selectedCategoryId$ | async) === category.id
      }"
    >
      <img
        *ngIf="category.imageUrl; else iconTemplate"
        matListItemIcon
        [src]="category.imageUrl"
        alt="Category image"
        [title]="category.name + ' category'"
        class="category-image"
      />
      <ng-template #iconTemplate>
        <mat-icon matListItemIcon class="material-symbols-rounded">{{
          category.icon || "category"
        }}</mat-icon>
      </ng-template>
      <span matListItemTitle>{{ category.name }}</span>
      <span matListItemLine *ngIf="category.description">{{
        category.description
      }}</span>
    </a>
  </mat-nav-list>
</div>
